<h1>Movie Releases - Show Post</h1>

  <p>
	<%= @post.title %><br>
	<%= @post.release %><br>
  </p>
<hr>
<%= link_to "Edit", edit_mrelease_path(@post), :class => 'btn btn-default' %>
<%#now add to mreleases_controller and add in edit method%>



